<%- partial('_partial/head') %>
<body>
  <div id="bg">
    <div id="bg-mask">
      <h1>Troy's Blog</h1>
      <p>思想，故事和灵感</p>
    </div>
  </div>
  <nav class="nav">
    <ul>
      <% for (var i in theme.menu){ %><li><a href="<%- theme.menu[i] %>"><%= i %></a></li><% } %>
    </ul>
  </nav>
  <div id="container">
    <%- partial('_partial/header') %>
    <div id="main">
      <%- body %>
    </div>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>